apiVersion: v1
kind: ServiceAccount
metadata:
  name: cache-sync-service
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cache-sync-service-role
  namespace: default
rules:
  - apiGroups: [""]
    resources:
      - pods
      - services
      - endpoints
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cache-sync-service-rolebinding
  namespace: default
subjects:
  - kind: ServiceAccount
    name: cache-sync-service
    namespace: default
roleRef:
  kind: Role
  name: cache-sync-service-role
  apiGroup: rbac.authorization.k8s.io
